.cards {
    word-wrap: break-word;
    padding: 10px;
    margin: 50px 10px;
    width: 300px;
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

hr {
    color: #EF6046;
}

.subheading {
    font-family: "Oswald", sans-serif;
    color: rgba(255, 255, 255, 0.781);
    font-size: large;
}

.cards img {
    height: 100px;
    width: 100px;
}

footer {
    background-color: whitesmoke;
}

.project-card {
    border: 2px solid black;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 5px;
    margin: 5px 5px;
    width: 200px;
    box-shadow: 0 2px 10px 0 black;
    transition: 0.3s;
    position: relative;
}

.overlay a h2 {
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.project-card:hover .overlay {
    background-color: #EF6046;
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    border-radius: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.contact {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.icon {
    height: 70px;
    width: 70px;
    transition: 500ms;
    border-bottom: 2px solid transparent;
}

.header {
    color: whitesmoke;
}

.banner {
    background-image: url(../assets/homebg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
}

.page {
    text-align: center;
    justify-content: center;
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.card :hover {
    /* #EF6046 */
}

.fade {
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}

@-webkit-keyframes animat_show {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}